@model InvestCarWeb.Models.Parceiro

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Parceiro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
</div>
<div>
    @if (Model.UserName == User.Identity.Name || User.IsInRole("Administrator"))
    {
        if (User.IsInRole("Administrator"))
        {
            <p><a asp-action="Edit" asp-route-id="@Model.Id">Editar dados</a></p>
        }
        else
        {
            <p><a asp-controller="Parceiros" asp-action="Index">Editar dados</a></p>
        }
    }
    <a asp-action="Lista">Voltar para lista</a>
</div>
